<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contacts">
        <h4>Contact</h4>
          <div class="skype">
            Skype: <a href="skype:{{ site.skype }}?chat">{{ site.skype }}</a>
          </div>
          <div class="email">
            Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        {% include social_icons.html %}
      </div>

      <div class="col-md-4">
        <div class="copyright">
          Copyright &copy; {{ site.author }} {{ site.time | date: '%Y' }}
        </div>
      </div>
    </div>
  </div>
</footer>
