<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="{{ site.author }}">

<title>
  {% if page.title %}
    {{ page.title | escape }}
  {% else %}
    {{ site.title | escape }}
  {% endif %}
</title>

<meta name="description" content="
  {% if page.excerpt %}
    {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
  {% else %}
    {{ site.description }}
  {% endif %}"
>

<!-- Main CSS -->
<link rel="stylesheet" href="/css/main.css">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


<!-- Main JS -->
<script src="/js/main.js" async="async" defer="defer"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" type="image/png" href="/img/favicons/32x32.png" sizes="32x32">
<link rel="shortcut icon" type="image/png" href="/img/favicons/192x192.png" sizes="192x192">
<link rel="apple-touch-icon" type="image/png" href="/img/favicons/180x180.png">
<meta content="/img/favicons/270x270.png" name="msapplication-TileImage">
