<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        web development
        <div class="inner-text">with</div>
      </div>
      <div class="intro-heading">
        Ruby on Rails
      </div>

      {% include social_icons.html %}

      <a class="page-scroll btn btn-xl" href="#services">
        Tell Me More
      </a>
    </div>
  </div>
</header>

{% include home/about.html %}

{% include home/services.html %}

{% include home/portfolio.html %}

<!-- { include home/history.html %} -->

{% include home/technologies.html %}

{% include home/contact.html %}

<iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7WVKx4w3lkYR_46Eqz9nx20&key=AIzaSyD51pNzuULHOOdvIyBzztejNhbA3OAvbZw" allowfullscreen></iframe>

{% include footer.html %}
