{% for item in site.portfolio_items %}
  <!-- Portfolio Modal {{ item.id }} -->
  <div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h3>{{ item.title}}</h3>
                          <p class="item-intro text-muted">
                            {{ item.intro }}
                          </p>
                          <img class="img-responsive img-centered" src="/img/portfolio/{{ item.file }}.png" alt="">
                          <div class="modal-description">
                            {{ item.description }}
                            <ul class="list-inline">
                                <li>Date: {{ item.date }}</li>
                                <li>Client: {{ item.client }}</li>
                                <li>Category: {{ item.category }}</li>
                            </ul>
                          </div>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endfor %}
