<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#"><img alt="" class="img-responsive img-centered" src=
        "/img/logos/envato.jpg"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#"><img alt="" class="img-responsive img-centered" src=
        "/img/logos/designmodo.jpg"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#"><img alt="" class="img-responsive img-centered" src=
        "/img/logos/themeforest.jpg"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#"><img alt="" class="img-responsive img-centered" src=
        "/img/logos/creative-market.jpg"></a>
      </div>
    </div>
  </div>
</aside>
